@model IEnumerable<btORM.Models.Book>

@{
    ViewData["Title"] = "Danh sách sách";
}

<h1>Danh sách sách</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm sách</a>
</p>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tên sách</th>
        <th>Tác giả</th>
        <th>Giá</th>
        <th>Năm xuất bản</th>
        <th>Chức năng</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Id</td>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Price</td>
            <td>@book.PublishYear</td>
            <td>
                <a asp-action="Details" asp-route-id="@book.Id">Chi tiết</a> |
                <a asp-action="Edit" asp-route-id="@book.Id">Sửa</a> |
                <a asp-action="Delete" asp-route-id="@book.Id">Xóa</a>
            </td>
        </tr>
    }
    </tbody>
</table>
